@model List<VentaMusical.Model.Cancion>


<div class="title">
    <h1>Canciones</h1>
    <div class="btn-container">
        <a class="btn-add" onclick="document.location.href='@Url.Content("~/Cancion/Create/")'">Agregar<i class="fa-solid fa-plus"></i></a>
    </div>
</div>
<hr class="divider" />

<div class="table-container">
    <table id="table-data" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre Canción</th>
                <th>Nombre Género</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fila in Model)
            {
                <tr>
                    <td>@fila.CodigoCancion</td>
                    <td>
                        @if (@fila.Portada == null)
                        {
                            <img src="~/Content/images/emptyphoto.png" class="image-empty" />
                        }
                        else
                        {
                            <img src="@fila.Portada" class="image-table" />
                        }
                        @fila.NombreCancion</td>
                    <td>@fila.NombreGenero</td>
                    <td>@fila.Precio</td>
                    <td>
                        <a class="btn-edit" onclick="document.location.href='@Url.Content("~/Cancion/Edit/" + fila.CodigoCancion)'">Editar<i class="fa-solid fa-pencil"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="~/Content/css/table.css" />
<link rel="stylesheet" href="~/Content/css/cruds.css" />


<script type="text/javascript">
    $(document).ready(function () {


        $('#table-data').DataTable({
            responsive: true,
            language: {
                info: 'Mostrando página _PAGE_ de _PAGES_',
                infoEmpty: 'No hay registros',
                lengthMenu: 'Mostrar _MENU_ registros por página',
                zeroRecords: 'No hay registros',
                search: 'Buscar'
            },
            pageLength: 10,
            lengthMenu: [5, 10, 20, 50],
            columns: [{ width: '4%' }, null, null, null, { width: '10%' }]
        });


    });
</script>
