@model List<VentaMusical.Model.Venta>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #121212;">
            <div class="modal-header">
                <img src="~/Content/images/nota-musical.png" class="profile_logo" alt="">
                <h2 class="title-modal" style="margin-left:1vw">Venta Musical App</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <hr />
            <div class="modal-heading">
                @*<img src="~/Content/images/factura.png" class="profile_image" alt="">*@
                <h2 class="title-modal"><i class="fa-solid fa-file-invoice"></i> Factura</h2>
            </div>
            <div class="modal-body">

                <div class="heading-section">
                    <div>
                        <h3 class="info-title">Fecha: <span>@ViewBag.FechaFactura</span></h3>
                        <h3 class="info-title">Consecutivo: <span> # @ViewBag.NumFac</span></h3>
                    </div>
                    <div>
                        <h3 class="info-title">Cedula: <span>@ViewBag.Identificacion</span></h3>
                        <h3 class="info-title">Nombre: <span>@ViewBag.NombreUsuario</span></h3>
                    </div>
                </div>

                <hr style="width: 95%;" />

                <div class="table-container">
                    <table id="table-data" class="display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id de Cancion</th>
                                <th>Nombre Canción</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var fila in Model)
                            {
                                <tr>
                                    <td>@fila.CodigoCancion</td>
                                    <td>@fila.NombreCancion</td>
                                    <td>@fila.Precio</td>

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>

                <hr style="width: 95%;" />
                <div class="bottom-section">
                    <h3 class="info-title">IVA: <span> 13%</span></h3>
                    <h3 class="info-title">Subtotal: <span>@ViewBag.SubTotal</span></h3>
                    <h3 class="info-title">Total: <span> @ViewBag.Total</span></h3>
                </div>

                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn-return" onclick="document.location.href='@Url.Content("~/Venta/Venta/")'">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {


        $('#table-data').DataTable({
            responsive: true,
            language: {
                info: 'Mostrando página _PAGE_ de _PAGES_',
                infoEmpty: 'No hay registros',
                lengthMenu: 'Mostrar _MENU_ registros por página',
                zeroRecords: 'No hay registros',
                search: 'Buscar'
            },
            pageLength: 3,
            lengthMenu: [3, 5, 10],
            columns: [{ width: '2px' }, { width: '4%' }, { width: '4%' }]
        });

        $('.modal-content').css('width', '600px');


    });
</script>

<link rel="stylesheet" href="~/Content/css/table.css" />
<link rel="stylesheet" href="~/Content/css/cruds.css" />
<link rel="stylesheet" href="~/Content/css/factura.css" />


<script type="text/javascript">
    $(document).ready(function () {

        $('#myModal').modal('show');


    });
</script>