@model VentaMusicalApp.Models.ChangePasswordViewModel

@if (ViewBag.ValorMensaje == 1)
{
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color: #121212;">
                <div class="modal-header">
                    <h2 class="modal-title">Mensaje</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">@ViewBag.MensajeProceso</div>
                </div>
                <div class="modal-footer">                  
                    <button type="button"  class="btn-return" data-bs-dismiss="modal" aria-label="Close">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
}
else if (ViewBag.ValorMensaje == 0)
{
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color: #121212;">
                <div class="modal-header">
                    <h2 class="modal-title">Mensaje</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="alert alert-success">@ViewBag.MensajeProceso</div>
                </div>
                <div class="modal-footer">
                    @if (User.IsInRole("Admin"))
                    {
                        <button type="button" data-bs-dismiss="modal" class="btn-return" onclick="document.location.href='@Url.Content("~/Usuario/Index/")'">
                            Cerrar
                        </button>
                    }
                    else
                    {
                        <button type="button" data-bs-dismiss="modal" class="btn-return" onclick="document.location.href='@Url.Content("~/Welcome/Index/")'">
                            Cerrar
                        </button>
                    }
                   
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Edit", "Usuario", FormMethod.Post))
{
<div class="row">

    <div class="title-group">
        @if (User.IsInRole("Admin"))
        {
            <a class="btn-back" onclick="document.location.href='@Url.Content("~/Usuario/Index/")'"><i class="fa-solid fa-chevron-left"></i>Volver</a>
        }
        else
        {
            <a class="btn-back" onclick="document.location.href='@Url.Content("~/Welcome/Index/")'"><i class="fa-solid fa-chevron-left"></i>Volver</a>
        }
        <h1>Editar Usuario</h1>
    </div>
    <hr class="divider" />
    <div class="login-container">
        <div class="login-section">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.NumeroIdentificacion, new { @class = "col-md-2 label-form-users" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.NumeroIdentificacion, new { @class = "input-data-form-users", @id = "numeroIdentificacion", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PrimerNombre, new { @class = "col-md-2 label-form-users" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PrimerNombre, new { @class = "input-data-form-users" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SegundoNombre, new { @class = "col-md-2 label-form-users" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.SegundoNombre, new { @class = "input-data-form-users" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PrimerApellido, new { @class = "col-md-2 label-form-users" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PrimerApellido, new { @class = "input-data-form-users" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SegundoApellido, new { @class = "col-md-2 label-form-users" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.SegundoApellido, new { @class = "input-data-form-users" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.Genero, new { @class = "label-form-users" })
                <div class="col-md-10">
                    @Html.DropDownList(
                      "Genero",
                      (List<SelectListItem>)ViewBag.Generos,
                      "Elige un género",
                      new { @class = "select-input-form-users" })
                    @Html.ValidationMessageFor(u => u.Genero)
                </div>
            </div>
        </div>
        <div class="login-section">
            <br />
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 label-form-users" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "input-data-form-users" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.IdTipoTarjeta, new { @class = "label-form-users" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.NumeroTarjeta, new { @class = "input-data-form-users", @id = "numeroTarjeta" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NumeroTarjeta, new { @class = "col-md-2 label-form-users" })
                <div class="col-md-10">
                    @Html.DropDownList(
                    "IdTipoTarjeta",
                    (List<SelectListItem>)ViewBag.TipoTarjeta,
                    "Elige un tipo de tarjeta",
                    new { @class = "select-input-form-users" })
                    @Html.ValidationMessageFor(u => u.IdTipoTarjeta)
                </div>
            </div>
            @if (User.IsInRole("User"))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 label-form-users" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "input-data-form-users" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 label-form-users" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "input-data-form-users" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 label-form-users" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-data-form-users" })
                    </div>
                </div>
            }

            </div>

    </div>
    <br />
    <div class="btn-group-container ">
        <input class="btn-add" type="submit" value="Editar" />
    </div>
</div>
    }

    <link rel="stylesheet" href="~/Content/css/cruds.css" />


    @section scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#myModal').modal('show');
                $("#numeroTarjeta").inputmask({ "mask": "9999 9999 9999 9999" });
            });

        </script>
    }
